.box {
  width: 70vw; 
  margin: 5vh auto 0 auto;
  display:flex; 
  flex-direction: column; 
}
.title {
  padding-bottom: 2vh;
}
.data_item {
  padding: 5px 0;
  display:flex; 
  justify-content: space-between;
  align-items: baseline; 
  border-bottom: 1px solid #E8E8E8;
}
.data_item span {
  font-size: 17px;
}
.data_item h4 {
  margin: 0;
  font-size: 22px;
}
.img {
  background: #292929;
  border-radius: 50%;
  margin: 3vh;
}
.link {
  align-self: flex-start;
  padding: 0 0 20px 40px;
  color: hsl(0, 78%, 45%);
  font-size: 20px;
}
.link:hover {
  color: hsl(0, 78%, 45%);
}
